[submodule "arduino/lib/SD"]
	path = arduino/lib/SD
	url = https://github.com/arduino-libraries/SD
[submodule "arduino/lib/ArduinoJson"]
    path = arduino/lib/ArduinoJson
    url = https://github.com/bblanchon/ArduinoJson
